/* Стили для модального окна */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    color: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.modal.active {
    display: block;
}

.modal img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    border-radius: 10px;
}

.modal .description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.modal .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.modal .controls button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: yellow;
    background-color: #ff8c00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(255, 140, 0, 0.5);
}

.modal .controls button:hover {
    background-color: #e67e00;
    box-shadow: 0 6px 12px rgba(255, 140, 0, 0.7);
}

.modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: yellow;
    cursor: pointer;
    transition: transform 0.3s;
}

.modal .close-btn:hover {
    transform: scale(1.2);
}

/* Затемнение фона при открытом модальном окне */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}
