body {
    margin: 0;
    background-color: #121212;
    color: yellow;
    font-family: 'Roboto', Arial, sans-serif;
    user-select: none;
    overflow: hidden;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #ff8c00;
    padding: 10px 0;
}

header nav ul li a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

#newGameButton {
    margin: 20px 0;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
    background-color: #ff8c00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(255, 140, 0, 0.5);
}

#newGameButton:hover {
    background-color: #e67e00;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 140, 0, 0.7);
}

#characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 0 10px;
    height: calc(100vh - 150px); /* Учитываем хедер, футер и кнопки */
    overflow: hidden;
}

.character {
    display: flex;
    align-items: center;
    background-color: var(--character-bg-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 90%;
    height: 120px;
}

.character:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.character img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

.character-text {
    text-align: justify;
    font-size: 0.75rem;
    line-height: 1.2;
}

footer {
    text-align: center;
    background-color: #ff8c00;
    color: yellow;
    padding: 10px 0;
    position: relative; /* Изменено с absolute */
    width: 100%;
}

/* Темные тона для фонов персонажей */
.character:nth-child(1) {
    --character-bg-color: #2e2e47;
}

.character:nth-child(2) {
    --character-bg-color: #37474f;
}

.character:nth-child(3) {
    --character-bg-color: #3e2723;
}

.character:nth-child(4) {
    --character-bg-color: #1b5e20;
}

.character:nth-child(5) {
    --character-bg-color: #004d40;
}

.character:nth-child(6) {
    --character-bg-color: #263238;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    #characters {
        grid-template-columns: 1fr;
        height: auto; /* Все 6 кнопок отображаются вертикально */
    }

    .character {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .character img {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
